.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 50px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;
}
.title{
    font-size: 2.5rem;
}